/* Vars:
   ========================================================================== */

$mainFont                : 'Lora', serif;
$logoFont                : 'Lora', serif;
$titleFont               : 'Lora', serif;
$additionalFont          : 'Lora', serif;


// Size
//$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 2.5;
$mainLetterSpacing       : 5px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/
// Font Color
$mainFontColor           : #81868e;
$titleFontColor          : #333b46;

// Main Color
$default-color           : #ffffff;
$default-dark-color      : #000000;
$default-lighter         : #EFEFEF;
//$primary-color           : #19BD9A;
$primary-color           : #A1E8DA;
$secondary-color         : #FF7C93;


// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;



// Project Color
$primary-bg-color        : #F3F3F3;
$portfolio-nav-color     : #464646;

