.card{
  width: 235px;
  height: 300px;
  background-color: $default-color;

  .front__card{
    display: flex;
    flex-direction: column;
    height: 100%;
    .card{
      &__title{
        @extend %title;
        text-align: center;
        text-transform: uppercase;
        color: $default-color;
        background-color: $primary-color;
        padding: rem(30) 0;
      }
      &__price{
        @extend %title;
        margin: auto auto;
        font-size: rem(42);
        font-weight: 900;
        color: $primary-color;
      }
    }
  }
}